API_ID=15671595 # get this value from my.telegram.org
API_HASH=bb8f36f9c39a24c7f8b2acbc7ea8c60a # get this value from my.telegram.org
BOT_TOKEN=6025604462:AAEb-7oudqvjcmXQDfsMPh2BZPg_9NWG6ao # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001704731108 # get this value from in your log group 
MUSIC_BOT_NAME=TG_VC_BOT # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
